* {
    box-sizing: border-box;
}

h1 {
    color: white;
}
body {
    background-color: #ececec;
}
.navbarcus{
    background-color: #59aaa5; 
    color: white;
}

footer{
    height: 100px;
    width: 100%;
    background-color: #666666;
    text-align: center;
}